{% extends 'users/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ task.name }}</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">{{ task.description }}</p>
                        <p class="card-text">{{ task.owner }}</p>
                        {% if task.status == False %}
                        <a class="btn btn-success" href="{% url 'todo:toggle_activity' task.pk %}">Выполнено</a>
                        {% else %}
                        <a class="btn btn-warning" href="{% url 'todo:toggle_activity' task.pk %}">Не выполнено</a>
                        {% endif %}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Удалить</button>
                            </div>
                            <small class="text-body-secondary">{{ task.created_at }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}