{% extends 'users/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ user.name }}</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">{{ user.email }}</p>
                        <p class="card-text">{{ user.city }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <ul class="nav nav-pills">
                                <li class="nav-item"><a href="{% url 'users:update_user' user.pk %}" class="nav-link">Редактировать</a></li>
                                <li class="nav-item"><a href="{% url 'users:delete_user' user.pk %}" class="nav-link">Удалить</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}